ATM_MODEL_DFILES_DEFAULT=${ATM_MODEL_DFILES:-/fs/ssm/eccc/mrd/rpn/MIG/GEM/gem-data/4.2.0/gem-data_4.2.0_all/share/data/dfiles}

GEM_climato=${ATM_MODEL_DFILES_DEFAULT}/bcmk/climato+ghg
GEM_geophy=${ATM_MODEL_DFILES_DEFAULT}/bcmk/geophy2
GEM_const=${ATM_MODEL_DFILES_DEFAULT}/datafiles/constants/thermoconsts
GEM_ozone=${ATM_MODEL_DFILES_DEFAULT}/datafiles/constants/ozoclim_Fortuin_Kelder1998
GEM_radtab=${ATM_MODEL_DFILES_DEFAULT}/datafiles/constants/irtab5_std

# anal: path to an FST-formatted analysis file
GEM_anal=${ATM_MODEL_DFILES_DEFAULT}/bcmk/2009042700_000

# inrep: path to FST-formatted data files for LAM boundary conditions
GEM_inrep=${ATM_MODEL_DFILES_DEFAULT}/bcmk
