variables:
  ORD_SOUMET_SHELL: "/bin/bash"
  ORD_SOUMET_CPUS: "40"
  ORD_SOUMET_TMPFS: "8G"
  ORD_SOUMET_M: "80G"
  ORD_SOUMET_W: "10"
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - build_gnu
  - run_configs_gnu
  - build_intel
  - run_configs_intel
  - build_xc50

before_script:
    - export CLICOLOR_FORCE=1

build_xc50:
  stage: build_xc50
  tags:
  - XC50-login
  only:
  - 5.2-branch
  when: always
  script:
    - set +e
    - . ./.eccc_setup_intel
    - . ./.eccc_initial_setup
    - make cmake
    - make -j `nproc`
    - make -j `nproc` work

build_intel:
  stage: build_intel
  only:
  - 5.2-branch
  when: always
  script:
    - ln -sf /home/cpi001/gem_dbase .
    - . ./.eccc_setup_intel
    - . ./.eccc_initial_setup
    - . ssmuse-sh -x main/opt/cmake/cmake-3.16.4
    - make cmake
    - make -j `nproc`
    - make -j `nproc` work
  artifacts:
    expire_in: 2 hrs
    paths:
    - work-ubuntu-18.04-skylake-64-intel-19.0.3.199
    - gem_dbase

5.2GEM_GY_FISL_H_intel:
  stage: run_configs_intel
  only:
  - 5.2-branch
  dependencies:
  - build_intel
  when: always
  script:
    - . ./.eccc_setup_intel
    - cd $GEM_WORK
    - CFG=5.2GEM_cfgs_GY_FISL_H
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

CANO_W7cascP_intel:
  stage: run_configs_intel
  only:
  - 5.2-branch
  dependencies:
  - build_intel
  when: always
  script:
    - . ./.eccc_setup_intel
    - cd $GEM_WORK
    - CFG=CANO_cfgs_W7cascP
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

CANO_dcmip163r100_intel:
  stage: run_configs_intel
  only:
  - 5.2-branch
  dependencies:
  - build_intel
  when: always
  script:
    - . ./.eccc_setup_intel
    - cd $GEM_WORK
    - CFG=CANO_cfgs_dcmip163r100
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

CANO_wil7_intel:
  stage: run_configs_intel
  only:
  - 5.2-branch
  dependencies:
  - build_intel
  when: always
  script:
    - . ./.eccc_setup_intel
    - cd $GEM_WORK
    - CFG=CANO_cfgs_wil7
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

GEM_GY_FISL_P_intel:
  stage: run_configs_intel
  only:
  - 5.2-branch
  dependencies:
  - build_intel
  when: always
  script:
    - . ./.eccc_setup_intel
    - cd $GEM_WORK
    - CFG=GEM_cfgs_GY_FISL_P
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

GEM_LU_FISL_H_intel:
  stage: run_configs_intel
  only:
  - 5.2-branch
  dependencies:
  - build_intel
  when: always
  script:
    - . ./.eccc_setup_intel
    - cd $GEM_WORK
    - CFG=GEM_cfgs_LU_FISL_H
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

GEM_LU_OFFC_intel:
  stage: run_configs_intel
  only:
  - 5.2-branch
  dependencies:
  - build_intel
  when: always
  script:
    - . ./.eccc_setup_intel
    - cd $GEM_WORK
    - CFG=GEM_cfgs_LU_OFFC
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

PTOPO_GYH_intel:
  stage: run_configs_intel
  only:
  - 5.2-branch
  dependencies:
  - build_intel
  when: always
  script:
    - . ./.eccc_setup_intel
    - cd $GEM_WORK
    - CFG=PTOPO_cfgs_GYH
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

PTOPO_LUP_intel:
  stage: run_configs_intel
  only:
  - 5.2-branch
  dependencies:
  - build_intel
  when: always
  script:
    - . ./.eccc_setup_intel
    - cd $GEM_WORK
    - CFG=PTOPO_cfgs_LUP
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

RSTRT_GYP_intel:
  stage: run_configs_intel
  only:
  - 5.2-branch
  dependencies:
  - build_intel
  when: always
  script:
    - . ./.eccc_setup_intel
    - cd $GEM_WORK
    - CFG=RSTRT_cfgs_GYP
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

THEO_bubbleG_intel:
  stage: run_configs_intel
  dependencies:
  - build_intel
  when: always
  script:
    - . ./.eccc_setup_intel
    - cd $GEM_WORK
    - CFG=THEO_cfgs_bubbleG
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

THEO_schar_intel:
  stage: run_configs_intel
  only:
  - 5.2-branch
  dependencies:
  - build_intel
  when: always
  script:
    - . ./.eccc_setup_intel
    - cd $GEM_WORK
    - CFG=THEO_cfgs_schar
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

build_gnu:
  stage: build_gnu
  only:
  - 5.2-branch
  when: always
  script:
    - set +e
    - ln -sf /home/cpi001/gem_dbase .
    - . ./.eccc_setup_gnu
    - . ./.eccc_initial_setup
    - make cmake
    - make -j `nproc`
    - make -j `nproc` work
  artifacts:
    expire_in: 2 hrs
    paths:
    - work-ubuntu-18.04-amd64-64-gnu-7.4.0
    - gem_dbase

5.2GEM_GY_FISL_H_gnu:
  stage: run_configs_gnu
  only:
  - 5.2-branch
  dependencies:
  - build_gnu
  when: always
  script:
    - set +e
    - . ./.eccc_setup_gnu
    - cd $GEM_WORK
    - CFG=5.2GEM_cfgs_GY_FISL_H
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

CANO_W7cascP_gnu:
  stage: run_configs_gnu
  only:
  - 5.2-branch
  dependencies:
  - build_gnu
  when: always
  script:
    - set +e
    - . ./.eccc_setup_gnu
    - cd $GEM_WORK
    - CFG=CANO_cfgs_W7cascP
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

CANO_dcmip163r100_gnu:
  stage: run_configs_gnu
  only:
  - 5.2-branch
  dependencies:
  - build_gnu
  when: always
  script:
    - set +e
    - . ./.eccc_setup_gnu
    - cd $GEM_WORK
    - CFG=CANO_cfgs_dcmip163r100
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

CANO_wil7_gnu:
  stage: run_configs_gnu
  only:
  - 5.2-branch
  dependencies:
  - build_gnu
  when: always
  script:
    - set +e
    - . ./.eccc_setup_gnu
    - cd $GEM_WORK
    - CFG=CANO_cfgs_wil7
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

GEM_GY_FISL_P_gnu:
  stage: run_configs_gnu
  only:
  - 5.2-branch
  dependencies:
  - build_gnu
  when: always
  script:
    - set +e
    - . ./.eccc_setup_gnu
    - cd $GEM_WORK
    - CFG=GEM_cfgs_GY_FISL_P
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

GEM_LU_FISL_H_gnu:
  stage: run_configs_gnu
  only:
  - 5.2-branch
  dependencies:
  - build_gnu
  when: always
  script:
    - set +e
    - . ./.eccc_setup_gnu
    - cd $GEM_WORK
    - CFG=GEM_cfgs_LU_FISL_H
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

GEM_LU_OFFC_gnu:
  stage: run_configs_gnu
  only:
  - 5.2-branch
  dependencies:
  - build_gnu
  when: always
  script:
    - set +e
    - . ./.eccc_setup_gnu
    - cd $GEM_WORK
    - CFG=GEM_cfgs_LU_OFFC
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

PTOPO_GYH_gnu:
  stage: run_configs_gnu
  only:
  - 5.2-branch
  dependencies:
  - build_gnu
  when: always
  script:
    - set +e
    - . ./.eccc_setup_gnu
    - cd $GEM_WORK
    - CFG=PTOPO_cfgs_GYH
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

PTOPO_LUP_gnu:
  stage: run_configs_gnu
  only:
  - 5.2-branch
  dependencies:
  - build_gnu
  when: always
  script:
    - set +e
    - . ./.eccc_setup_gnu
    - cd $GEM_WORK
    - CFG=PTOPO_cfgs_LUP
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

RSTRT_GYP_gnu:
  stage: run_configs_gnu
  only:
  - 5.2-branch
  dependencies:
  - build_gnu
  when: always
  script:
    - set +e
    - . ./.eccc_setup_gnu
    - cd $GEM_WORK
    - CFG=RSTRT_cfgs_GYP
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

THEO_bubbleG_gnu:
  stage: run_configs_gnu
  only:
  - 5.2-branch
  dependencies:
  - build_gnu
  when: always
  script:
    - set +e
    - . ./.eccc_setup_gnu
    - cd $GEM_WORK
    - CFG=THEO_cfgs_bubbleG
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"

THEO_schar_gnu:
  stage: run_configs_gnu
  only:
  - 5.2-branch
  dependencies:
  - build_gnu
  when: always
  script:
    - set +e
    - . ./.eccc_setup_gnu
    - cd $GEM_WORK
    - CFG=THEO_cfgs_schar
    - . ./configurations/$CFG/cfg_0000/configexp.cfg
    - _status=ABORT
    - . r.call.dot runprep.sh -dircfg ./configurations/$CFG
    - if [ "${_status}" == "ED" ]; then
      _status=ABORT;
      . r.call.dot runmod.sh -dircfg ./configurations/$CFG -ptopo $GEMTEST_ptopo;
      fi
    - test "${_status}" == "ED"
