*.[oa]
*~
*.swp
*.swo
*.pyc
__pycache__
gem_dbase
gem_dbase.tar.gz
/build*
/work*
src/gem/maingemdm.F90
src/gemdyn/include/gemdyn_version.inc
src/gemdyn/src/main/main*.F90
src/modelutils/include/modelutils_version.inc
src/rpnphy/include/rpnphy_version.inc
