*.[oa]
*~
*.swp
*.swo
*.pyc
__pycache__
gem_dbase
gem_dbase.tar.gz
/build*
/work*
src/gemdyn/src/main/main*.F90
src/gemdyn/src/no_mpi/maingem_monitor*.c
share/gem-maestro/GEM_module/VERSION
src/rpnphy/include/rpnphy_version.inc
