ATM_MODEL_DFILES_DEFAULT=${ATM_MODEL_DFILES:-/fs/ssm/eccc/mrd/rpn/MIG/GEM/gem-data/4.2.0/gem-data_4.2.0_all/share/data/dfiles}

GEM_ozone=${ATM_MODEL_DFILES_DEFAULT}/datafiles/constants/ozoclim_Fortuin_Kelder1998 
GEM_radtab=${ATM_MODEL_DFILES_DEFAULT}/datafiles/constants/irtab5_std
GEM_const=${ATM_MODEL_DFILES_DEFAULT}/datafiles/constants/thermoconsts

# anal: path to an FST-formatted analysis file
GEM_anal=${ATM_MODEL_DFILES_DEFAULT}/bcmk_iau3/2022040500_000

# climato: path to FST-formatted data files for climatology conditions
GEM_climato=${ATM_MODEL_DFILES_DEFAULT}/bcmk/climato_ic3_ozone

# geophy: path to FST-formatted geophysical fields files
GEM_geophy=${ATM_MODEL_DFILES_DEFAULT}/bcmk/geophy-benchmark
