ATM_MODEL_DFILES_DEFAULT=${ATM_MODEL_DFILES:-/fs/ssm/eccc/mrd/rpn/MIG/GEM/gem-data/4.2.0/gem-data_4.2.0_all/share/data/dfiles}

GEM_ozone=ozoclim_Fortuin_Kelder1998

GEM_climato=${ATM_MODEL_DFILES_DEFAULT}/bcmk/climato_ic3_ozone

#GEM_anal=/home/rai001/raid/ppp6/NUDGE/anal/hyb/2022020100_000
#GEM_anal=/home/jfc001/raid/ppp6/bcmk_spn_gc/2022020100_000
GEM_anal=${ATM_MODEL_DFILES_DEFAULT}/bcmk_spn_gc/2022020100_000

#GEM_nudge=/home/rai001/raid/ppp6/NUDGE/GC13
#GEM_nudge=/home/jfc001/raid/ppp6/bcmk_spn_gc/GC37
GEM_nudge=${ATM_MODEL_DFILES_DEFAULT}/bcmk_spn_gc/GC37

#GEM_geophy=/home/rai001/raid/ppp6/NUDGE/geophy
#GEM_geophy=/home/jfc001/raid/ppp6/bcmk_spn_gc/geophy
GEM_geophy=${ATM_MODEL_DFILES_DEFAULT}/bcmk_spn_gc/geophy

GEMTEST_ptopo=6x4x1


