ATM_MODEL_DFILES_DEFAULT=${ATM_MODEL_DFILES:-/home/ordenv/ssm-domains9/release/gem-data_4.2.0/gem-data_4.2.0_all/share/data/dfiles}

GEM_ozone=ozoclim_Fortuin_Kelder1998 

# anal: path to an FST-formatted analysis file
#GEM_anal=${ATM_MODEL_DFILES_DEFAULT}/bcmk/2009042700_000
#GEM_anal=${ATM_MODEL_DFILES}/bcmk_iau/gridpt.anal.hyb.2015010112_iauinit
#GEM_anal=/space/hall6/sitestore/eccc/mrd/rpnatm/rai001/robert/analysis_2020022918/2020022918_iauinit
GEM_anal=${ATM_MODEL_DFILES_DEFAULT}/bcmk_iau3/2020022918_iauinit

# inrep: path to FST-formatted data files for LAM boundary conditions
GEM_inrep=${ATM_MODEL_DFILES_DEFAULT}/bcmk

# climato: path to FST-formatted data files for climatology conditions
#GEM_climato=${ATM_MODEL_DFILES_DEFAULT}/bcmk/climato+ghg
#GEM_climato=/space/hall6/sitestore/eccc/mrd/rpnatm/rai001/robert/climato_ic3_ozone
GEM_climato=${ATM_MODEL_DFILES_DEFAULT}/bcmk/climato_ic3_ozone

GEM_geophy=${ATM_MODEL_DFILES_DEFAULT}/bcmk/geophy2
#GEM_phy_intable=${rpnphy}/include/physics_input_table_GENERIC

GEMTEST_ptopo=6x4x1
