ATM_MODEL_DFILES_DEFAULT=${ATM_MODEL_DFILES:-/fs/ssm/eccc/mrd/rpn/MIG/GEM/gem-data/4.2.0/gem-data_4.2.0_all/share/data/dfiles}

GEM_headscript_E=headscript_iau_EXP.sh

GEM_ozone=ozoclim_Fortuin_Kelder1998 

# anal: path to an FST-formatted analysis file
#GEM_anal=/home/jfc001/raid/ppp6/HRnat_530a6b_PA3a/analysis_reduc/2022070100_iauinit
#GEM_anal=/home/jfc001/raid/ppp6/bcmk_iau_EXP/2022070100_iauinit
GEM_anal=${ATM_MODEL_DFILES_DEFAULT}/bcmk_iau_EXP/2022070100_iauinit

# inrep: path to FST-formatted data files for LAM boundary conditions
#GEM_inrep=/home/jfc001/raid/ppp6/HRnat_530a6b_PA3a/inrep_reduc
#GEM_inrep=/home/jfc001/raid/ppp6/bcmk_iau_EXP
GEM_inrep=${ATM_MODEL_DFILES_DEFAULT}/bcmk_iau_EXP

# climato: path to FST-formatted data files for climatology conditions
#GEM_climato=/home/fau000/data/ords/CLIMATO/climato_newghg
#GEM_climato=/home/jfc001/raid/ppp6/bcmk_iau_EXP/climato
GEM_climato=${ATM_MODEL_DFILES_DEFAULT}/bcmk_iau_EXP/climato

#GEM_geophy=/home/fau000/data/ords/GEOPHY/HRDPS/Nat/IC4_RC5_25/2p5/
#GEM_geophy=/home/jfc001/raid/ppp6/bcmk_iau_EXP/geophy
GEM_geophy=${ATM_MODEL_DFILES_DEFAULT}/bcmk_iau_EXP/geophy

GEMTEST_ptopo=6x4x1
